dump*
bin/*
obj/*
.vscode/*
bin/Debug/net7.0/8080cs.dll
bin/Debug/net7.0/8080cs.pdb
obj/Debug/net7.0/8080cs.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/8080cs.dll
obj/Debug/net7.0/8080cs.pdb
obj/Debug/net7.0/ref/8080cs.dll
obj/Debug/net7.0/refint/8080cs.dll
*.bin
*.asm
